<launch>
  <arg name="arm_ip" default="192.168.1.18" />
  
<!-- RM-75 Driver -->
  <node name="rm_driver" pkg="rm_75_driver" type="rm_driver" respawn="false" output="screen">
    <param name="arm_ip" value="$(arg arm_ip)"/>
  </node>


<!-- Moveit -->
  <include file="$(find rm_75_moveit_config)/launch/demo_realrobot.launch">
  </include>
</launch>
